@import './buttons.utils';
@import '../utils/rem';

.dashboard-grid {
  @apply grid xs:grid-cols-1 gap-md mb-xl;

  grid-template-columns: 1fr 3fr;

  @media (max-width: 1279px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 767px) {
    > .section-block:first-child {
      display: none;
    }
  }

  .link {
    @apply
    flex
    items-center
    h-full
    px-xs
    rounded-xl
    transition-all
    hover:bg-bg-2
    focus:bg-bg-2;

    &:hover {
      box-shadow: 0 0 .2rem .1rem rgba(0, 0, 0, .75) inset;
    }
  }

  .section-block {
    @apply border-1 p-xl bg-bg-1
    transition-colors
    flex flex-col font-mono shadow-btn;

    border: 2px solid hsla(var(--c-f-1-hsl), .45);
  }

  .block-title {
    @apply text-f-1 font-bold mb-lg uppercase tracking-widest
    border-b border-bg-2 pb-xs text-xs;
  }

  .block-row {
    @apply flex justify-between mb-sm last:mb-0 items-baseline gap-xs;
  }

  .block-label {
    @apply uppercase whitespace-nowrap;
  }

  .block-value {
    @apply text-interactive text-right leading-xs;
  }

  .status-indicator {
    @apply inline-block w-2xs h-2xs rounded-full mr-xs bg-active shadow-outline;
  }
}

.dashboard-grid-1 {
  @apply grid gap-md my-md;

  grid-template-columns: 1fr;

  .section-block {
    @apply border-1 p-xl bg-bg-1
    transition-colors
    flex flex-col font-mono shadow-btn;

    border: 2px solid hsla(var(--c-f-1-hsl), .45);
  }
}

.button {
  @extend %button-reset;
  @apply
  transition-all
  not-italic
  text-interactive
  no-underline
  visited:text-interactive
  hover:text-hover
  active:text-active
  active:no-underline
  border-solid
  border-2
  p-sm
  border-f-3
  hover:border-f-3
  hover:bg-f-3
  rounded-lg
  focus-visible:text-hover
  focus-visible:outline-2
  focus-visible:no-underline
  focus-visible:outline-dotted
  focus-visible:outline-focus;
}
