.project-content {
  @apply flex flex-wrap;
}

.project-title {
  @apply self-center flex-1 pr-md mb-0 xs:mb-xs xs:w-full text-lg;
}

.project-link {
  @apply flex items-center justify-end gap-md ml-auto -mr-6 xs:mr-0 xs:w-full xs:justify-start xs:mb-md text-lg;
}

.project-desc {
  @apply w-full block mt-md xs:mt-0 xs:text-md;
}

.project-demo-box {
  @apply mt-4 overflow-hidden rounded-md w-full h-[800px] xs:h-[clamp(15rem,50vh,30rem)];
}

.project-demo-content {
  @apply w-full h-full object-contain relative z-[20];

  &.aspect-video {
    aspect-ratio: 16 / 9;
  }
}
