@import '../../../styles/utils/responsive';

.header-link {
  @apply
  flex
  items-center
  min-h-[3rem]
  px-xs
  rounded-xl
  transition-all
  hover:bg-header
  focus:bg-header;

  &:hover {
    box-shadow: 0 0 .2rem .1rem var(--color-shadow-inset) inset;
  }
}

.header {
  @apply
  sticky
  top-0
  z-[50]
  flex
  overflow-hidden
  items-center
  w-full
  h-4xl
  min-h-4xl
  px-md
  pt-1
  pl-[4rem]
  bg-header
  justify-between
  border-surface-base
  border-b-1
  transition-all;

  .burger {
    @apply
    absolute
    cursor-pointer
    right-md
    top-md
    h-[1.25rem]
    w-md
    z-[5];

    .burger-line {
      @apply
      absolute
      block
      bg-interactive
      w-full
      h-[0.125rem]
      top-1/2
      -mt-[0.1rem]
      left-0
      transition-all
      first:top-[0.3rem]
      last:top-[1rem];
    }
  }

  .burger-input:checked + .burger {
    transform: scale(1.4);
    transform-origin: center right;
    .burger-line {
      opacity: 0;
      top: 50%;
    }
    .burger-line:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    .burger-line:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }

  &:has(.burger-input:checked) {
    @apply
    fixed
    top-0
    left-0
    flex-col
    h-[100dvh]
    w-full
    p-sm
    bg-surface
    transition-all
    z-[100];

    .hide-on-mobile-menu {
      display: none !important;
    }

    .nav-menu {
      @apply flex flex-col items-center justify-start pt-[4rem] gap-md w-full;
    }

    .nav-list {
      @apply w-full translate-x-0;
    }

    .nav-item {
      @apply w-full flex justify-center;
    }

    .logo {
      @apply h-auto;
    }

    .theme-toggle-button {
      @apply mx-auto m-0 mt-lg mb-lg;
    }

    .header-link {
      @apply ml-0 justify-center;
    }
  }

  .nav-menu {
    @apply items-center justify-end h-full transition-all overflow-hidden;
  }

  .nav-list {
    @apply
    items-center
    -translate-x-1/4
    h-full;
  }

  .nav-item {
    @apply mr-xs;
  }
}

.theme-toggle-button {
  @apply items-center justify-center rounded-full transition-colors ml-md focus:outline-none hover:bg-interactive-hover;

  [data-theme="dark"] & img {
    filter: invert(1) brightness(2);
  }
}
