@import '../../../styles/utils/responsive';

.header {
  @apply
  relative
  flex
  overflow-hidden
  items-center
  w-full
  h-4xl
  min-h-4xl
  px-md
  pt-1
  bg-header
  justify-between
  border-surface-base
  border-b-1
  transition-all
  md:flex-col
  md:h-auto
  md:overflow-visible;

  .link {
    @apply
    flex
    items-center
    min-h-[3rem]
    px-xs
    rounded-xl
    transition-all
    hover:bg-header
    focus:bg-header;

    &:hover {
      box-shadow: 0 0 .2rem .1rem var(--color-shadow-inset) inset;
    }
  }

  .burger {
    @apply
    absolute
    cursor-pointer
    right-md
    top-md
    h-[1.25rem]
    w-md
    z-[5];

    .burger-line {
      @apply
      absolute
      block
      bg-interactive
      w-full
      h-[0.125rem]
      top-1/2
      -mt-[0.1rem]
      left-0
      transition-all
      first:top-[0.3rem]
      last:top-[1rem];
    }
  }

  .burger-input:checked + .burger {
    .burger-line {
      opacity: 0;
      top: 50%;
    }
    .burger-line:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    .burger-line:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }

  &:has(.burger-input:checked) {
    @apply
    absolute
    top-0
    left-0
    flex-col
    h-full
    w-full
    p-sm
    bg-header
    transition-all
    z-50;

    .nav-menu {
      @apply flex flex-col items-start justify-start pt-md gap-md;
    }

    .nav-list {
      @apply flex-col translate-x-0;
    }

    .logo {
      @apply h-auto;
    }
  }

  .nav-menu {
    @apply items-center justify-end h-full transition-all overflow-hidden;
  }

  .nav-list {
    @apply
    items-center
    -translate-x-1/4
    h-full;
  }

  .nav-item {
    @apply mr-xs;
  }
}

.theme-toggle-btn {
  @apply w-8 h-8 flex items-center justify-center rounded-full transition-colors ml-4 focus:outline-none hover:bg-interactive-hover;
}
