.carousel-viewport {
  @apply overflow-hidden w-full h-full min-h-0 relative;
}

.carousel-track {
  @apply flex w-full h-full transition-transform duration-300 ease-in-out;
}

.carousel-item {
  @apply w-full flex-none flex flex-col min-w-0;
}
