.host {
  @apply block h-full w-full relative box-border overflow-hidden;
  border: 3px solid var(--color-frame-border);
  border-radius: 16px;
  background-image: radial-gradient(hsla(var(--color-surface-raised-hsl), .992), hsla(var(--color-surface-hsl), .992));
  background-repeat: no-repeat;
  background-size: cover;
}

.noise {
  @apply absolute pointer-events-none block inset-0 w-full -z-[1] opacity-[.26];
  background-image: url('./assets/images/noise.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  @apply pointer-events-none absolute w-full h-full z-50;
  background:
    repeating-linear-gradient(
      180deg,
      transparent 0,
      var(--color-scanline) 50%,
      transparent 100%);
  background-size: auto .17rem;
  box-shadow: 0 0 .75rem .15rem var(--color-vignette) inset;
}

.overlay::before {
  @apply absolute pointer-events-none block inset-0 w-full h-full;
  content: '';
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    hsla(var(--color-surface-hsl), 0.2) 1%,
    hsla(var(--color-text-hsl), 0.3) 1%,
    hsla(var(--color-surface-hsl), 0.2) 1%,
    transparent 100%);
  background-repeat: no-repeat;
  animation-duration: 7.5s;
  animation-name: scan;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  50%, 100% { background-position: 0 100vh; }
}

.terminal {
  @apply relative flex flex-col w-full h-full;
  overflow: hidden;
}

.main-content {
  @apply p-5xl pl-xl xs:p-md;
}
