.animated-gears {
  display: flex;
  align-items: center;
  gap: 0;

  .gear {
    background-color: var(--color-interactive);
    -webkit-mask-image: url("../../../assets/icons/gears.svg");
    mask-image: url("../../../assets/icons/gears.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    flex-shrink: 0;
    transition: 0.65s ease-out;
  }

  .gear1 {
    width: 28px;
    height: 28px;
  }

  .gear2 {
    width: 20px;
    height: 20px;
    margin: 0 0 10px -2px;
  }
}
